
@media only screen and (max-width: 1699px){
	.project-offered .sec-1 .content .proj-list > li { width: 33%!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul > li { width: 33.3%!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .floor > ul > li{ width: 33.3%!important;}
}

@media only screen and (max-width: 1440px){
	.nav-custom li a { padding: 35px 20px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > h2 { font-size: 55px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > p { font-size: 35px!important}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > a { font-size: 25px!important; padding: 15px 0px!important; max-width: 370px!important;}
	.bg_green::after { left: 5px!important; right: 5px!important;}

	.project-offered .sec-1 .content > .link-list > li > a { font-size: 25px!important;}


	/*HEADER FONTSIZE*/

	.emp-exclu-slcted .sec-1 .content > h3 { font-size: 55px!important;}
	.emp-exclu .sec-1 .content > h3 { font-size: 55px!important}
	.project-offered .sec-1 .content > h3 { font-size: 55px!important}
	.reap .content > h3 { font-size: 55px!important}
	.selected-project .sec-1 .content .text-top-hldr > h3 { font-size: 55px!important;}
	.sign-up .sec-1 .content > h3 { font-size: 55px!important;}
	.sign-in .sec-1 .content > h3 { font-size: 55px!important}
	.thankyou .sec-1 .content > h3{ font-size: 55px!important;}

}


@media only screen and (max-width: 1300px){
	.nav-custom li a { font-size: 16px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr{ max-width: 500px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul > li { width: 50%!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .floor > ul > li { width: 50%!important;}
	
}


@media only screen and (max-width: 1250px){
	.project-offered .sec-1 .content .proj-list > li { width: 48.5%!important;}
	.project-offered .sec-1 .content > .link-list > li > a{ font-size: 22px!important;}
	.project-offered .sec-1 .content .proj-list { margin-left: 0px!important;     display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-between; flex-wrap: wrap;}
	.project-offered .sec-1 .content .proj-list li { padding-left: 0px!important;}
	.reap-1-logged .text-hldr .refr_btn a { font-size: 20px!important;}
	.reap-repeat .text-hldr .ref_status > li { padding: 0px 20px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figure { width: 40%!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figcaption { width: 59%!important;}
	
}


@media only screen and (max-width: 1185px){
	.nav-custom li a { padding: 35px 10px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr{ padding-left: 50px!important; padding-right: 15px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > h2 { font-size: 45px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > p { font-size: 30px!important;}

	.reap-refer .text-hldr ul.refer_list > li { width: 100%!important; }
	.reap-refer .text-hldr ul.refer_list > li:nth-child(even) { padding-right: 0px!important;}
	.reap-refer .text-hldr ul.refer_list > li:nth-child(odd) { float: none!important; padding-left: 0px!important;}

	.selected-project .sec-1 .content .slctd-prjct-slider .slider-hldr aside { max-width: 100%!important;}
	/*link nav fontsize*/

	.emp-exclu .sec-1 .content > .link-list > li > a { font-size: 25px!important;}
	.reap .content .linklist li a { font-size: 25px!important}
	.thankyou .sec-1 .content > p { font-size: 25px!important;}


	/*HEADER FONTSIZE*/
	.emp-exclu-slcted .sec-1 .content > h3 { font-size: 45px!important;}
	.emp-exclu .sec-1 .content > h3 { font-size: 45px!important}
	.project-offered .sec-1 .content > h3 { font-size: 45px!important;}
	.reap .content > h3 { font-size: 45px!important}
	.selected-project .sec-1 .content .text-top-hldr > h3 { font-size: 45px!important;} 
	.sign-up .sec-1 .content > h3 { font-size: 45px!important;}
	.sign-in .sec-1 .content > h3 { font-size: 45px!important}
	.thankyou .sec-1 .content > h3{ font-size: 45px!important;}

}


@media only screen and (max-width: 1085px){
	.navbar_logo { max-width: 120px!important;}
	.nav-custom li a { font-size: 15px!important;}
	.home .sec-1 .home-slider .slider-hldr aside { width: 44%!important; padding-right: 90px!important; float: right!important;}
	.project-offered .sec-1 .content > .link-list > li { width: 49%!important; margin-bottom: 15px!important;}
}

@media only screen and (max-width: 1023px){

	.navbar-header { float: none;}
    .navbar-left,.navbar-right { float: none !important;  }
    .navbar-toggle { display: block; float: right; background: transparent!important; border: 0px; margin-left: 10px; margin-top: 20px;     margin-right: 0px;}
    .navbar-collapse { border-top: 0px solid transparent; box-shadow: inset 0 0px 0 rgba(255,255,255,0.1); background: #fff; position: relative; z-index: 99; }
    .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
    .navbar-collapse.collapse { display: none!important; }
    .navbar-nav {float: none!important;}
    .navbar-nav>li { float: none!important; }
    .navbar-nav>li>a { padding-top: 10px; padding-bottom: 10px; }
    .collapse.in{  display:block !important; }
    .nav-custom li a { font-size: 18px!important;} 
      
    .nav-ul { margin-top: 53px; }
    .navbar-brand { height: inherit; padding: 0px; }
    .navbar-logo { margin-top: 0px!important; margin: 0 auto;}
    .nav-custom { position: relative!important; top: 0!important; padding: 0px!important; min-height: 90px!important;}
    .menu { top: 0!important;}
    .navbar-toggle .icon-bar{ width: 35px; height: 4px;}    
    .nav-custom .navbar-nav > li:last-child { display: block!important;}
    .nav > li { display: block!important; }
    .navbar-collapse.collapse { text-align: left!important; }
    .nav-custom .navbar-nav > li > a { padding: 15px!important; }

    .navbar_logo { position: relative!important; left: 0!important; transform: translate(0, 0)!important; margin-bottom: 15px;}
    .nav-custom li.active a { border-bottom: 4px solid #5f3613!important;}
    .nav-custom li:hover a { border-bottom: 4px solid #5f3613!important;}
    .home .sec-1 { padding-top: 0px!important;}
    .navbar-nav { margin: 0px;}



    .home .sec-1 .home-slider .slider-hldr article div.text-hdlr { padding-left: 60px!important;}
    .home .sec-1 .home-slider .slider-hldr aside .img-hldr { height: 100vh!important;}
    .bg_green::after { display: none!important}
    .nav-custom li a { border-bottom: 4px solid transparent!important;}
    .nav-custom .navbar-right li:last-child a, .nav-custom .navbar-right li:nth-last-child(2) a { color: #555!important;}

    .emp-exclu .sec-1 .content > .link-list > li > a { font-size: 23px!important}
    .reap .content .linklist li a { font-size: 23px!important}
    .reap .content .top_text h5 { font-size: 20px!important;}
    .reap-repeat .text-hldr h4 { font-size: 25px!important;} 





    /*change the min-height*/

    .emp-exclu .sec-1 { min-height: 85vh!important;}
    .project-offered .sec-1 { min-height: 85vh!important;}
    .reap .sec-1 { min-height: 85vh!important;}
    .selected-project .sec-1{ min-height: 85vh!important;}
    .sign-up .sec-1 { min-height: 85vh!important}
    .sign-in .sec-1 { min-height: 85vh!important;}
    .thankyou .sec-1{ min-height: 85vh!important;}


    /*2 columns change*/
    .emp-exclu-slcted .sec-1 .right { width: 29.82%!important}
    .emp-exclu-slcted .sec-1 .left { width: 70%!important;}
    .reap .left { width: 70%!important;}
    .reap .right { width: 29.82%!important;}


    /*SECTION TOP PADDING*/
    .emp-exclu-slcted .sec-1 { padding-top: 0px!important;}
    .emp-exclu .sec-1 { padding-top: 0px!important;}
    .project-offered .sec-1 {padding-top: 0px!important}
    .reap .sec-1 { padding-top: 0px!important;}
    .selected-project .sec-1 { padding-top: 0px!important;}
    .sign-up .sec-1 { padding-top: 0px!important;}
    .sign-in .sec-1 { padding-top: 0px!important;}
    .thankyou .sec-1{ padding-top: 0px!important;}

}


@media only screen and (max-width: 999px){
	.home .sec-1 .home-slider .slider-hldr article { width: 50%!important;}
	.home .sec-1 .home-slider .slider-hldr aside { width: 48%!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > h2 { font-size: 40px!important;}

	.wrapper { padding: 0px 75px!important;}
	.selected-project .sec-1 .content .text-top-hldr > h4 { float: none!important; margin-top: 0px!important; margin-bottom: 10px!important; font-size: 25px!important;}
	.selected-project .sec-1 .content .text-top-hldr > h3 { float: none!important;}

	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figure { width: 100%!important; float: none!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figure  img { width: auto!important; margin: 0 auto; display: block; margin-bottom: 20px;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figcaption { width: 100%!important; float: none!important;}
	.thankyou .sec-1 .content > p{ font-size: 20px!important;}




	/*HEADER FONTSIZE*/
	.emp-exclu-slcted .sec-1 .content > h3 { font-size: 40px!important;}
	.emp-exclu .sec-1 .content > h3 { font-size: 40px!important;}
	.project-offered .sec-1 .content > h3 { font-size: 40px!important;}
	.reap .content > h3 { font-size: 40px!important} 
	.selected-project .sec-1 .content .text-top-hldr > h3 { font-size: 40px!important;} 
	.sign-up .sec-1 .content > h3{ font-size: 40px!important;}
	.sign-in .sec-1 .content > h3 { font-size: 40px!important}
	.thankyou .sec-1 .content > h3{ font-size: 40px!important;}
}

@media only screen and (max-width: 900px){
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > h2 { font-size: 40px!important;}
	.emp-exclu-slcted .sec-1 .left { width: 100%!important; float: none!important; padding-right: 0px!important;}
	.emp-exclu-slcted .sec-1 .right { width: 100%!important; float: none!important; margin-bottom: 50px!important;}
	.emp-exclu-slcted .sec-1 .content > article p:last-child { margin-bottom: 0px!important;}
	.emp-exclu .sec-1 .content > .link-list { margin-top: 20px;}
	.project-offered .sec-1 .content > .link-list { margin-top: 20px!important;}
	.reap .left { width: 100%!important; float: none!important; padding-right: 0px!important; }
	.reap .right {width: 100%!important; float: none!important; margin-bottom: 50px!important;}
	.reap-refer .text-hldr { padding: 40px 0px!important;}
	.reap-repeat .text-hldr .ref_status { margin-bottom: 45px!important;}

	.selected-project .sec-1 .content .tabs-hdlr .tab { width: 100%!important; float: none!important; border-right: 0px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .tab .inquire-nw { margin-top: 50px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .tabcontent { float: none!important; width: 100%!important; padding: 15px 0px!important;}


	/*HEADER FONTSIZE*/
	.emp-exclu-slcted .sec-1 .content > h3 { font-size: 40px!important; margin-bottom: 5px!important}
	.emp-exclu .sec-1 .content > h3 { font-size: 40px!important; margin-bottom: 5px!important;} 
	.project-offered .sec-1 .content > h3 { font-size: 40px!important; margin-bottom: 5px!important;}
	.reap .content > h3 { font-size: 40px!important; margin-bottom: 5px!important;}
	.selected-project .sec-1 .content .text-top-hldr > h3 { font-size: 40px!important; margin-bottom: 5px!important;} 
	.sign-up .sec-1 .content > h3 { font-size: 40px!important; margin-bottom: 5px!important;}
	.sign-in .sec-1 .content > h3 { font-size: 40px!important; margin-bottom: 5px!important;}
	.thankyou .sec-1 .content > h3{ font-size: 40px!important; margin-bottom: 5px!important;}

	

}


@media only screen and (max-width: 800px){

	.cs-container { padding: 0px 15px!important;}

	.home .sec-1 .home-slider .slider-hldr article { width: 100%!important;}
	.home .sec-1 .home-slider .slider-hldr aside { display: none!important;}
	.home .sec-1 .hden-img { display: block!important;}
	.home .sec-1 { height: auto!important; }
	.home .sec-1 .hden-img { margin: 0px; padding: 0px; float: right; width: 49%; height: 700px; padding-right: 85px!important;}
	.home .sec-1 .hden-img img { height: 100%; object-fit: cover;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr { max-width: 49%!important; margin: 0px!important; padding: 0px; margin-top: 55px!important;}

	.home-bannerpopup aside img { width: 100%!important;height: 100%!important;}
	.emp-exclu .sec-1 .content > .link-list > li {  width: 100%!important; display: block!important; padding-right: 0px!important; position: relative!important; padding-bottom: 7px; margin-bottom: 10px;}
	.emp-exclu .sec-1 .content .link-list::after { display: none!important;}
	.emp-exclu .sec-1 .content > .link-list > li::after { position: absolute; bottom: 0; content: ''; left: 0; right: 0; background: #fff; height: 1px; }



	.project-offered .sec-1 .content > .link-list > li { width: 100%!important; display: block!important; position: relative!important; }
	.project-offered .sec-1 .content .link-list::after { display: none;}
	.project-offered .sec-1 .content > .link-list > li::after {position: absolute; bottom: -6px; content: ''; left: 0; right: 0; background: #fff; height: 1px; }
	.project-offered .sec-1 .content .proj-list > li { width: 100%!important;}

	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li a { font-size: 16px!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li:last-child a { margin-bottom: 0px!important}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay { position: relative!important; top: 0!important; left: 0!important; height: 100%!important; opacity: 1!important; background: #fff!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul { max-width: 100%!important; position: relative!important; left: 0!important; top: 0!important; transform: translate(0, 0)!important;}
	.project-offered .sec-1 .content .proj-list > li > aside { height: auto!important;}
	.project-offered .sec-1 .content .proj-list li { width: 100%!important; display: inline-block!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li a { border-radius: 0px!important; margin-bottom: 0px!important; color: #79a11d!important; border: 3px solid #79a11d!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > img { height: 250px!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul { display: -webkit-box; display: -moz-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-flex-flow: row wrap; justify-content: space-between; flex-wrap: wrap;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li { width: 31%!important;}
	.reap-1-logged .text-hldr .refr_btn a { font-size: 20px!important;}

	.reap-refer .text-hldr .btn-rfr a { font-size: 16px!important;}
	.reap-refer .text-hldr .prvcy p{ font-size: 16px!important;}

	.reap-1-logged .text-hldr p { font-size: 20px!important;} 
	.reap .content .top_text p { font-size: 18px!important;}

	.reap-not-logged .text-hldr p, .reap-not-logged .text-hldr p a { font-size: 20px!important;}
	.reap-repeat .text-hldr .ref_status > li .txt_status p { font-size: 18px!important;}

	.reap-repeat .text-hldr { padding: 20px 0px!important;}
	.selected-project .sec-1 .content .slctd-prjct-slider .slider-hldr { padding: 20px 0px!important;}
	.selected-project .sec-1 .content .slctd-prjct-slider .slick-next { left: auto!important; right: -7px!important;}

	.selected-project .sec-1 .content .tabs-hdlr .master > p, .selected-project .sec-1 .content .tabs-hdlr .tabcontent p { font-size: 18px!important; margin-bottom: 20px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr { padding: 20px 0px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figcaption { padding: 0px 15px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figcaption ul li p { margin-bottom: 0px!important;}

	.sign-up .sec-1 .content > p{ font-size: 18px!important;}
	.sign-up .sec-1 .content > .form-hldr > ul > li { width: 48%!important;}
	.sign-in .sec-1 .content > p{ font-size: 18px!important;}
	.thankyou .sec-1 .content > p{ font-size: 18px!important;}
	
}

@media only screen and (max-width: 750px){
	.selected-project .sec-1 .content .text-top-hldr .text-under-hldr h4 { float: none!important;}
	.selected-project .sec-1 .content .text-top-hldr .text-under-hldr h5 { float: none!important;}
}

@media only screen and (max-width: 700px){
	.home .sec-1 .hden-img { width: 100%; float: none!important; max-width: 370px!important; margin: 0 auto!important; height: 450px!important; padding-right: 0px!important;}
	.home .sec-1 .hden-img img { object-fit: contain!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr { max-width: 100%!important; margin-top: 30px!important; padding-right: 15px!important; padding-left: 15px!important; padding-bottom: 80px;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > a { margin-top: 40px!important;}
	.home .sec-1 .home-slider .slick-dots { bottom: 0px!important; left: 50%!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > h2 {letter-spacing: 3px!important; font-size: 35px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > p { letter-spacing: 1px; font-size: 22px!important;}
	.home .sec-1 .home-slider .slider-hldr article div.text-hdlr > a { max-width: 260px!important; font-size: 22px!important;}


	/*HEADER FONTSIZE*/
	.emp-exclu-slcted .sec-1 .content > h3 { font-size: 35px!important;}
	.emp-exclu .sec-1 .content > h3 { font-size: 35px!important}
	.project-offered .sec-1 .content > h3 { font-size: 35px!important;}
	.reap .content > h3 { font-size: 35px!important}
	.selected-project .sec-1 .content .text-top-hldr > h3 { font-size: 35px!important;} 
	.sign-up .sec-1 .content > h3{ font-size: 35px!important;}
	.sign-in .sec-1 .content > h3 { font-size: 35px!important} 
	.thankyou .sec-1 .content > h3{ font-size: 35px!important;}

}



@media only screen and (max-width: 680px){
	.emp-exclu-slcted .sec-1 .content > .top_text-hldr h5 {  float: none!important; margin-top: 0px!important; margin-bottom: 15px!important;}
	.emp-exclu-slcted .sec-1 .content > .top_text-hldr h6 { float: none!important;border-radius: 0px!important; text-align: center;}
	.emp-exclu-slcted .sec-1 .content > article { padding: 30px 0px!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li { width: 100%!important;}
	.project-offered .sec-1 .content .proj-list > li > aside > .overlay > ul > li a{ margin-bottom: 5px!important;}
	.reap .content .linklist::after { display: none!important}
	.reap .content .linklist li{ display: block!important; position: relative; margin-bottom: 15px!important}
	.reap .content .linklist li::after { position: absolute; content: ''; bottom: -9px; background: #fff; height: 1px; left: 0; right: 0;}
	.reap-1-logged .text-hldr p { font-size: 18px!important}
	.reap-not-logged .text-hldr p, .reap-not-logged .text-hldr p a { font-size: 18px!important;} 
	.sign-up .sec-1 .content > .form-hldr > ul > li{ width: 100%!important; padding-right: 0px!important;}
	.sign-up .sec-1 .content > .form-hldr > ul > li h6 { margin-bottom: 10px!important;}
}




@media only screen and (max-width: 500px){
	.home .sec-1 .hden-img { max-width: 100%!important; height: auto!important;}
	.home .sec-1 .hden-img img{ width: 100%!important; object-fit: cover!important;}
	.follow { position: relative!important; left: 0px!important; bottom: 0px!important; background-color: #35b76f; padding: 15px 25px;}
	.wrapper { padding: 0px 20px 0px 20px!important}
	.calculator { padding: 17px 10px!important;}
	/*.calculator { position: relative!important; top: 0!important; right: 0px!important; height: 72px;}
	.calculator a img { transform: rotate(-90deg); top: -45px; left: 45%; position: absolute;}*/
	.follow ul li:first-child img { display: none;}
	.follow ul li h5 { display: block!important;}
	.follow ul li { display: inline-block; padding-right: 35px;}
	.follow ul li:nth-child(2) { margin: 0px!important;}
	.follow ul li:last-child { margin-right: 0px!important;}
	.calculator img { height: 110px!important}



	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .slick-next { left: auto!important; right: -7px!important;}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .title h4 { font-size: 22px!important}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider { padding: 0px!important;}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr { padding: 0px!important}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .title p { font-size: 18px!important}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .tail h5 { font-size: 18px!important;}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .tail h6 { font-size: 18px!important;}


	.emp-exclu .sec-1 .content .exclusive-slider { padding: 0px!important;}
	.emp-exclu .sec-1 .content .exclusive-slider .slider-hldr aside { padding: 0px!important;}
	.emp-exclu .sec-1 .content .exclusive-slider .slick-next { left: auto!important; right: -7px!important}


	.reap-refer .text-hldr .prvcy input[type="checkbox"] { width: 17px!important; height: 17px!important;}
	.reap-refer .text-hldr .prvcy{ padding-left: 25px!important;}

	.reap-repeat .text-hldr .ref_status > li { width: 100%!important; margin-bottom: 25px!important; padding: 0px!important;}

	.reap-repeat .text-hldr h4{ font-size: 23px!important;}

	.reap-repeat .text-hldr .table_ref li div.parent div.child p { display: block!important; font-weight: bold;}

	.reap-repeat .text-hldr .table_ref li:first-child{ display: none;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child  { display: none; width: 100%!important;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child:first-child { display: block;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child p:first-child span.lbl { display: inline-block!important; float: none!important; font-weight: bold!important;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child p span { float: right!important; font-weight: normal!important;}

	.selected-project .sec-1 .content .tabs-hdlr .master .image-hldr > figure img { width: 100%!important;}

	.selected-project .sec-1 .content .slctd-prjct-slider .slider-hldr aside { height: 250px!important;}

	.selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul > li aside { height: 200px!important;}

	.sign-up .sec-1 .content { padding: 0px!important;}
	.sign-in .sec-1 .content {  padding: 0px!important;}
	.sign-in .sec-1 .content > article.form-hldr > ul > li h6 { margin-bottom: 10px!important;}



	/*FONT HEAD EXCEPT FRONT PAGE*/

	

	


}



@media only screen and (max-width: 400px){
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .tail h5 { float: none!important;  margin-bottom: 5px;}
	.emp-exclu-slcted .sec-1 .btm-sec .exc-slcted-slider .sldr-hldr article .tail h6 { float: none!important; }
	/*.reap .content .linklist li a { font-size: 20px!important;}*/
	.emp-exclu .sec-1 .content > .link-list > li > a { font-size: 23px!important;}
	.project-offered .sec-1 .content > .link-list > li > a { font-size: 23px!important;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child p:first-child span.lbl { display: block!important;}
	.reap-repeat .text-hldr .table_ref li div.parent div.child p span { float: none!important; display: block!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .floor > ul > li, .selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul > li { width: 100%!important; padding-left: 0px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .floor > ul, .selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul { margin-left: 0px!important;}
	.selected-project .sec-1 .content .tabs-hdlr .floorplan .unit > ul > li aside, .selected-project .sec-1 .content .tabs-hdlr .floorplan .floor > ul > li aside { height: 160px!important;}
	.sign-in .sec-1 .content > article.form-hldr { max-width: 100%!important;}
}



@media only screen and (max-width: 370px){
	.project-offered .sec-1 .content .proj-list > li article > .cndo-det h5, .project-offered .sec-1 .content .proj-list > li article > .cndo-det h6 { float: none!important;}
	.project-offered .sec-1 .content .proj-list > li article > .cndo-det h5 { margin-bottom: 10px!important;}
}